<div class="modal fade" id="chatModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Centro de Mensajes</h5>        
      </div>
      <div class="modal-body">
        <div id="mensajes">

        </div>
      </div>
      <div class="modal-footer ">
        <form class="form-control d-flex flex-column" onsubmit="return addMensaje()">
        <div class="input-group mb-3 ">
            <span class="input-group-text" id="basic-addon1">Username</span>
            <input type="text" id="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text">Tu mensaje</span>
            <textarea class="form-control" id="mensaje" aria-label="With textarea"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
        </form>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar chat</button>
      </div>
    </div>
  </div>
</div>
